defmodule <%= @web_module %>.Components.Accordion do
  @moduledoc """
  A vertically stacked set of interactive headings that each reveal a section of content.

  ## Usage

      <.accordion>
        <.accordion_item value="item-1">
          <.accordion_trigger>Is it accessible?</.accordion_trigger>
          <.accordion_content>
            Yes. It adheres to the WAI-ARIA design pattern.
          </.accordion_content>
        </.accordion_item>
      </.accordion>

  ## Options

  Options are set on the outer wrapper element through data attributes.  
  For boolean attributes, adding the attribute with either an empty value or `"true"` is considered truthy, every other value falsy.

  - `data-disabled` - *boolean*: Whether the accordion is disabled and can be interacted with.
  - `data-multiple` - *boolean*: Whether multiple items can be opened at the same time.
  - `data-collapsible` - *boolean*: Whether an item can be closed by the user by clicking on it again. Implicitly set when `data-multiple`
  is set.
  """
  use <%= @web_module %>, :component

  import <%= @web_module %>.Components.Icon

  attr :id, :string, default: "accordion"
  attr :class, :string, default: ""
  attr :rest, :global

  slot :inner_block, required: true

  def accordion(assigns) do
    ~H"""
    <div id={@id} phx-hook="Accordion" class={classes(["", @class])} {@rest} data-widgex>
      <div id={"accordion:#{@id}"}>
        {render_slot(@inner_block, @id)}
      </div>
    </div>
    """
  end

  attr :parent_id, :string, default: "accordion"
  attr :value, :string, required: true
  attr :class, :string, default: ""
  slot :inner_block, required: true

  def accordion_item(assigns) do
    ~H"""
    <div
      id={"accordion:#{@parent_id}:item:#{@value}"}
      data-value={@value}
      class={classes(["border-b", @class])}
    >
      {render_slot(@inner_block)}
    </div>
    """
  end

  attr :parent_id, :string, default: "accordion"
  attr :value, :string, required: true
  attr :class, :string, default: ""
  slot :inner_block, required: true

  def accordion_trigger(assigns) do
    ~H"""
    <h3 class="flex">
      <button
        id={"accordion:#{@parent_id}:trigger:#{@value}"}
        class={
          classes([
            "group flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline outline-none cursor-pointer",
            @class
          ])
        }
      >
        {render_slot(@inner_block)}
        <.icon
          name="hero-chevron-down"
          class="h-4 w-4 shrink-0 transition-transform duration-200 group-data-[state=open]:rotate-180"
        />
      </button>
    </h3>
    """
  end

  attr :parent_id, :string, default: "accordion"
  attr :value, :string, required: true
  attr :class, :string, default: nil
  slot :inner_block, required: true

  def accordion_content(assigns) do
    ~H"""
    <div
      id={"accordion:#{@parent_id}:content:#{@value}"}
      class="text-sm overflow-hidden grid grid-rows-[0fr] transition-[grid-template-rows] duration-300 data-[state=open]:grid-rows-[1fr]"
    >
      <div class="overflow-hidden">
        <div class={classes(["pb-4 pt-0", @class])}>
          {render_slot(@inner_block)}
        </div>
      </div>
    </div>
    """
  end
end
