defmodule <%= @web_module %>.Components.Alert do
  @moduledoc false
  use <%= @web_module %>, :component

  @default_classes ~w(relative w-full rounded-lg border p-4 [&>span~*]:pl-7 [&>span+div]:translate-y-[-3px] [&>span]:absolute [&>span]:left-4 [&>span]:top-4 [&>span]:text-foreground)

  variant :variant,
          [
            default: "bg-background text-foreground",
            destructive:
              "border-destructive/50 text-destructive dark:border-destructive [&>svg]:text-destructive"
          ],
          default: :default

  @doc """
  Displays a callout for user attention.

  ## Installation

      mix widgex.add alert

  ## Usage

      <.alert>
        <.icon name="hero-command-line" class="h-4 w-4" />
        <.alert_title>Heads up!</.alert_title>
        <.alert_description>
          You can add components to your app using the cli.
        </.alert_description>
      </.alert>

  """
  attr :class, :string, default: nil
  attr :rest, :global

  slot :inner_block, required: true

  def alert(assigns) do
    assigns = assign(assigns, :default_classes, @default_classes)

    ~H"""
    <div
      class={
        classes([
          @default_classes,
          @cva_class,
          @class
        ])
      }
      {@rest}
    >
      <%= render_slot(@inner_block) %>
    </div>
    """
  end

  attr :class, :string, default: nil

  slot :inner_block, required: true

  def alert_title(assigns) do
    ~H"""
    <h5 class={classes(["mb-1 font-medium leading-none tracking-tight", @class])}>
      <%= render_slot(@inner_block) %>
    </h5>
    """
  end

  attr :class, :string, default: nil

  slot :inner_block, required: true

  def alert_description(assigns) do
    ~H"""
    <div class={classes(["text-sm [&_p]:leading-relaxed", @class])}>
      <%= render_slot(@inner_block) %>
    </div>
    """
  end
end
