defmodule <%= @web_module %>.Components.Tabs do
  @moduledoc """
  A set of layered sections of content—known as tab panels—that are displayed one at a time.

  ## Required Attributes

  `default`: Set's the default selected tab

  ## Usage

      <.tabs default_value="account" class="w-[400px]">
        <.tabs_list>
          <.tabs_trigger value="account">Account</.tabs_trigger>
          <.tabs_trigger value="password">Password</.tabs_trigger>
        </.tabs_list>
        <.tabs_content value="account">Make changes to your account here.</.tabs_content>
        <.tabs_content value="password">Change your password here.</.tabs_content>
      </.tabs>
  """
  use <%= @web_module %>, :component

  attr :id, :string, default: "tabs"
  attr :default, :string, required: true
  attr :class, :string, default: ""
  attr :rest, :global

  slot :inner_block, required: true

  def tabs(assigns) do
    ~H"""
    <div id={@id} phx-hook="Tabs" data-value={@default} class={@class} {@rest} data-widgex>
      <div id={"tabs:#{@id}"}>
        {render_slot(@inner_block, @id)}
      </div>
    </div>
    """
  end

  attr :parent_id, :string, default: "tabs"
  attr :class, :string, default: ""
  attr :rest, :global

  slot :inner_block, required: true

  def tabs_list(assigns) do
    ~H"""
    <div
      id={"tabs:#{@parent_id}:list"}
      class={
        classes([
          "inline-flex h-10 items-center justify-center rounded-md bg-muted p-1 text-muted-foreground",
          @class
        ])
      }
      {@rest}
    >
      {render_slot(@inner_block)}
    </div>
    """
  end

  attr :parent_id, :string, default: "tabs"
  attr :value, :string, required: true
  attr :class, :string, default: ""
  attr :rest, :global

  slot :inner_block, required: true

  def tabs_trigger(assigns) do
    ~H"""
    <button
      id={"tabs:#{@parent_id}:trigger-#{@value}"}
      data-value={@value}
      class={
        classes([
          "inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[selected]:bg-background data-[selected]:text-foreground data-[selected]:shadow-sm",
          @class
        ])
      }
      {@rest}
    >
      {render_slot(@inner_block)}
    </button>
    """
  end

  attr :parent_id, :string, default: "tabs"
  attr :value, :string, required: true
  attr :class, :string, default: ""
  attr :rest, :global

  slot :inner_block, required: true

  def tabs_content(assigns) do
    ~H"""
    <div
      id={"tabs:#{@parent_id}:content-#{@value}"}
      data-value={@value}
      class={
        classes([
          "mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2",
          @class
        ])
      }
      {@rest}
    >
      {render_slot(@inner_block)}
    </div>
    """
  end
end
